{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container">
    <h2>Add Your ToDo</h2>
    <form action="/" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">ToDo Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">ToDo Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>
<div class="container my-3">
    <h2>Your ToDos</h2>

    {% if allTodos|length == 0 %}
    <div class="alert alert-warning" role="alert">
        Looks like nothing is left to do. Nice work!
    </div>
    {% else %}<table class="table">
        <thead>
            <tr>
                <th scope="col">SNo.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodos %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <a href="/update/{{todo.sno}}" type="button" class="btn btn-sm btn-outline-primary mx-2">Update</a>
                    <a href="/delete/{{todo.sno}}" type="button" class="btn btn-sm btn-outline-primary mx-2">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}


</div>
{% endblock body %}