{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h2>Update Your ToDo</h2>
    <form action="/update/{{todo.sno}}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">ToDo Title</label>
            <input type="text" class="form-control" id="title" value = "{{todo.title}}" name="title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">ToDo Description</label>
            <input type="text" class="form-control" id="description" value = "{{todo.desc}}" name="description">
        </div>
        <button type="submit" class="btn btn-outline-primary">Update</button>
    </form>
</div>
{% endblock body %}